<a href="https://colab.research.google.com/github/Sivaranjani1311/PYML_230901094/blob/main/Time_Series_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

import pandas as pd
import numpy as np
from datetime import datetime

dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.296577
2011-01-05    0.102297
2011-01-07    0.478500
2011-01-08   -1.023038
2011-01-10   -0.211859
2011-01-12   -0.489930
dtype: float64

In [4]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [8]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    1.318870
2000-01-02   -0.989208
2000-01-03   -0.118870
2000-01-04   -1.945567
2000-01-05   -1.453870
                ...
2002-09-22   -1.411816
2002-09-23    0.593289
2002-09-24    1.005427
2002-09-25    1.259787
2002-09-26   -0.244107
Freq: D, Length: 1000, dtype: float64

In [10]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.310245
2001-01-02   -1.823659
2001-01-03    0.412148
2001-01-04    0.467106
2001-01-05   -0.632707
                ...
2001-12-27    0.993593
2001-12-28    0.709933
2001-12-29   -1.160389
2001-12-30    0.636539
2001-12-31   -2.594602
Freq: D, Length: 365, dtype: float64

In [12]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.655452
2001-05-02   -0.687011
2001-05-03    0.253797
2001-05-04   -1.146221
2001-05-05   -1.052232
2001-05-06   -0.394393
2001-05-07   -0.620358
2001-05-08    1.891355
2001-05-09    1.637356
2001-05-10   -0.581515
2001-05-11   -0.035850
2001-05-12   -0.683666
2001-05-13   -0.145943
2001-05-14   -1.014390
2001-05-15    0.545193
2001-05-16    0.138252
2001-05-17    0.321216
2001-05-18   -0.785047
2001-05-19   -0.556264
2001-05-20   -0.697077
2001-05-21   -0.574797
2001-05-22    0.156566
2001-05-23    1.290262
2001-05-24   -0.110551
2001-05-25    0.842316
2001-05-26    1.591462
2001-05-27   -0.106616
2001-05-28   -2.161189
2001-05-29    0.498203
2001-05-30   -0.371427
2001-05-31    0.181499
Freq: D, dtype: float64

In [17]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    1.318870
2000-01-02   -0.989208
2000-01-03   -0.118870
2000-01-04   -1.945567
2000-01-05   -1.453870
Freq: D, dtype: float64

In [18]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -1.689661
2000-02-02   -1.376048
2000-02-03   -0.721749
2000-02-04    1.231204
2000-02-05    1.271756
2000-02-06    1.508962
2000-02-07    1.355233
2000-02-08   -0.307061
2000-02-09    0.175896
2000-02-10   -0.552666
2000-02-11    1.007155
2000-02-12    1.276665
2000-02-13    0.207381
2000-02-14    1.921836
2000-02-15   -0.509077
Freq: D, dtype: float64

In [19]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -1.573756
2000-09-27   -0.312078
2000-09-28   -0.336230
2000-09-29   -1.437291
2000-09-30   -0.563181
                ...
2002-09-22   -1.411816
2002-09-23    0.593289
2002-09-24    1.005427
2002-09-25    1.259787
2002-09-26   -0.244107
Freq: D, Length: 731, dtype: float64